body{
  background: #5783B7;
  color: #000;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}

#slogan {
  font-size: 24pt;
}

p{
  font-size: 17pt;
}

#footer {
  font-size: 11pt;
}
